.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $gray-200;
  background-color: $white-color;
  width: 100%;
  z-index: 9;
  &_icon {
    padding: 15px;
  }
  &_link {
    display: flex;
    height: 100%;
    padding: 15px;
    &:hover {
      color: $blue-600;
    }
    &.active {
      color: $blue-600;
    }
  }
  .header_left {
    display: flex;
    justify-content: center;
    align-items: center;
    .menu_bar {
      display: flex;
    }
  }
  .header_right {
    display: flex;
    .icon {
      width: 28px;
      padding-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .avatar {
      border-radius: 50%;
      width: 40px;
      height: 40px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
