.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.text-7xl {
  font-size: 4.5rem;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #111827;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #F9FAFB;
}

a {
  color: #111827;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
}

.wrapper {
  width: 100%;
  padding-left: 235px;
}
@media screen and (max-width: 1280px) {
  .wrapper {
    padding-left: 240px;
  }
}
@media screen and (max-width: 799px) {
  .wrapper {
    padding-left: 50px;
  }
}

.wp_open {
  padding-left: 80px;
}
@media screen and (max-width: 799px) {
  .wp_open {
    padding-left: 50px;
  }
}

.ml-5 {
  margin-left: 5px;
}
@media screen and (max-width: 1023px) {
  .ml-5 {
    margin-left: 0;
  }
}

.mr-5 {
  margin-right: 5px;
}
@media screen and (max-width: 1023px) {
  .mr-5 {
    margin-right: 0;
  }
}

.end_page {
  margin-top: 10px;
}
.end_page .footer {
  border: 1px solid #F9FAFB;
}

.content_page {
  width: 90%;
  margin: 90px auto 0;
}

.chart {
  width: 100%;
  min-height: 400px;
  background-color: #ffffff;
  padding: 15px;
  margin: 0 auto;
  border-radius: 25px;
  border: 1px solid #F3F4F6;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.row {
  margin-top: 10px;
  display: flex;
}
@media screen and (max-width: 1023px) {
  .row {
    flex-direction: column;
  }
}
.row .col-6 {
  width: 50%;
}
@media screen and (max-width: 1280px) {
  .row .col-6 {
    width: 100%;
  }
}
.row .col-4 {
  width: 33.3%;
}
@media screen and (max-width: 1280px) {
  .row .col-4 {
    width: 50%;
  }
}
@media screen and (max-width: 1023px) {
  .row .col-4 {
    width: 100%;
  }
}
.row .col-8 {
  width: 66.6%;
}
@media screen and (max-width: 1023px) {
  .row .col-8 {
    margin-top: 15px;
  }
}
@media screen and (max-width: 1280px) {
  .row .col-8 {
    width: 50%;
  }
}
@media screen and (max-width: 1023px) {
  .row .col-8 {
    width: 100%;
  }
}

.btn {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn-event {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 799px) {
  .btn-event {
    margin-top: 15px;
    width: 100%;
  }
}
.btn-green {
  background-color: #84E1BC;
  color: #057A55;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 5px;
}
.btn-red {
  background-color: #F8B4B4;
  color: #E02424;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 5px;
}
.btn.primary {
  background-color: #3F83F8;
  color: #ffffff;
}
.btn.primary:hover {
  background-color: #1A56DB;
}
.btn.transparent {
  background-color: transparent;
  color: #3F83F8;
  position: relative;
}
.btn.transparent:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #3F83F8;
  animation: moveInBottom 0.2s ease-out;
}
.btn.secondary {
  background-color: #0E9F6E;
  color: #ffffff;
}
.btn.secondary:hover {
  background-color: #84E1BC;
  color: #057A55;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}
.pagination p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .nav_page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .nav_page button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.pagination .nav_page button:hover {
  background-color: #111827;
}
.pagination select {
  border: none;
  outline: none;
}

.ext {
  padding: 0 25px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 799px) {
  .ext {
    flex-direction: column;
  }
}
.ext .search_bar {
  width: 30%;
  display: flex;
  border: 1px solid #F3F4F6;
}
@media screen and (max-width: 799px) {
  .ext .search_bar {
    width: 100%;
  }
}
.ext .search_bar .icon-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ext .search_bar .icon-search svg {
  transition: all 0.25s ease-in-out;
  fill: #6b7280 !important;
}
.ext .search_bar .icon-search:hover {
  cursor: pointer;
}
.ext .search_bar .icon-search:hover svg {
  fill: #1C64F2 !important;
}
.ext .search_bar input {
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
}

.editTemplate {
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(156, 156, 156, 0.5);
}

@media screen and (max-width: 1280px) {
  .table_area {
    overflow-y: scroll;
  }
}

.box_list, .box_edit {
  width: 100%;
  background-color: #ffffff;
  border-radius: 25px;
  border: 1px solid #F3F4F6;
  padding: 5px 0;
  font-size: 0.9rem;
}
.box_list .title, .box_edit .title {
  padding: 15px 25px;
}
.box_list ul, .box_edit ul {
  padding: 0 25px;
}
@media screen and (max-width: 799px) {
  .box_list ul, .box_edit ul {
    padding: 0 10px;
  }
}
.box_list ul li, .box_edit ul li {
  padding: 10px 0;
  border-bottom: 1px solid #F3F4F6;
}
.box_list ul li:last-child, .box_edit ul li:last-child {
  border: none;
}
.box_edit {
  width: 50%;
}
@media screen and (max-width: 1280px) {
  .box_edit {
    width: 90%;
  }
}
.box_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box_item-des {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box_item-left {
  display: flex;
}
.box_item-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}
.box_item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.box_table {
  padding: 0 25px;
  text-align: left;
}
.box_table table {
  min-width: 860px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.box_table table tr.bg-stone {
  background-color: #F3F4F6;
}
.box_table table tr th, .box_table table tr td {
  padding: 15px;
}
.box_table table tr th {
  color: #6b7280;
  border-bottom: 1px solid #E5E7EB;
  font-weight: 500;
  text-transform: uppercase;
}
.box_table table tr th:first-child {
  border-top-left-radius: 10px;
}
.box_table table tr th:last-child {
  border-top-right-radius: 10px;
}
.box_table table tr td .icon {
  float: left;
}
.box_table table tr td .icon.edit {
  cursor: pointer;
  fill: #76A9FA;
}
.box_table table tr td .icon.edit:hover {
  fill: #1C64F2;
}
.box_table table tr td .icon.trash {
  cursor: pointer;
  fill: #F98080;
}
.box_table table tr td .icon.trash:hover {
  fill: #E02424;
}
.box_table table tr td::after {
  clear: both;
}
.box_table table tr td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.box_table table tr td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

input, select {
  padding: 5px;
  border: none;
  outline: none;
  border: 1px solid #E5E7EB;
}

select:hover {
  cursor: pointer;
}

.input-area {
  padding: 0 25px 15px;
}
.input-area table {
  width: 100%;
}
.input-area input, .input-area select {
  padding: 15px;
  width: 100%;
  border-radius: 10px;
}
.input-area .input-field {
  position: relative;
  margin: 5px;
}
.input-area .input-field label {
  position: absolute;
  padding: 2px;
  top: -10px;
  left: 10px;
  background-color: #ffffff;
}

.error {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1280px) {
  .error h1 {
    font-size: 30px;
  }
}
@media screen and (max-width: 799px) {
  .error h1 {
    font-size: 15px;
  }
}
.error img {
  width: 600px;
}
@media screen and (max-width: 1280px) {
  .error img {
    width: 500px;
  }
}
@media screen and (max-width: 799px) {
  .error img {
    width: 400px;
  }
}
.error_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (max-width: 1280px) {
  .error_content span {
    font-size: 25px;
  }
}
@media screen and (max-width: 799px) {
  .error_content span {
    font-size: 15px;
  }
}

.sidebar {
  min-width: 260px;
  position: fixed;
  border-right: 1px solid #F3F4F6;
  padding-top: 45px;
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  background-color: #ffffff;
}
@media screen and (max-width: 799px) {
  .sidebar {
    min-width: unset;
  }
}
.sidebar .icon {
  width: 35px;
  display: block;
  padding-right: 15px;
}
.sidebar_link {
  transition: all 0.25s ease-in-out;
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
}
@media screen and (max-width: 799px) {
  .sidebar_link span {
    display: none;
  }
}
.sidebar_link.active {
  color: #1C64F2;
}
.sidebar_link:hover {
  color: #1C64F2;
}
.sidebar_header {
  border-bottom: 1px solid #E5E7EB;
  padding: 40px 10px 15px;
}
.sidebar .compact {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E429F;
  color: #E1EFFE;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 799px) {
  .sidebar .compact {
    display: none;
  }
}
.sidebar .compact:hover {
  cursor: pointer;
  background-color: #3F83F8;
  color: #C3DDFD;
}

.sb_small {
  min-width: unset;
}
.sb_small span {
  display: none;
}
.sb_small .sidebar_link {
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E5E7EB;
  background-color: #ffffff;
  width: 100%;
  z-index: 9;
}
.header_icon {
  padding: 15px;
}
.header_link {
  display: flex;
  height: 100%;
  padding: 15px;
}
.header_link:hover {
  color: #1C64F2;
}
.header_link.active {
  color: #1C64F2;
}
.header .header_left {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_left .menu_bar {
  display: flex;
}
.header .header_right {
  display: flex;
}
.header .header_right .icon {
  width: 28px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header_right .avatar {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.header .header_right .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 35px 25px;
  background-color: #ffffff;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
}
.footer_right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_right .icon {
  width: 15px;
  height: 15px;
  overflow: hidden;
  margin: 5px;
}
.footer_right .icon img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */